section.inner-base-section.workflow
  .container

    h2.base-title Этапы работ

    .workflow__container
      ul.workflow__list
        each item in [1,2,3,4,5,6]
          li.workflow__list-item
            span.workflow__list-item-title Заголовок
            p.workflow__list-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio in maxime earum molestiae consequatur ducimus eligendi officiis veritatis animi ab magnam tempore doloribus delectus cupiditate, eaque exercitationem deserunt nisi mollitia?

      .workflow__steps(aria-hidden="true")
        .workflow__steps-line
          .workflow__steps-dots
            .workflow__steps-dot
              .workflow__steps-inner-dot
            .workflow__steps-dot
              .workflow__steps-inner-dot
            .workflow__steps-dot
              .workflow__steps-inner-dot
            .workflow__steps-dot
              .workflow__steps-inner-dot
            .workflow__steps-dot
              .workflow__steps-inner-dot
            .workflow__steps-dot
              .workflow__steps-inner-dot

