.header {
  padding: var(--gap-xs) 0;
  &__container {
    @extend %flex-wrap;
    align-items: center;
    gap: var(--gap-xs);
  }

  &__offer-btn {
    border-radius: 50%;
    padding: 10px 10px 12px;
    margin-left: auto;

    @include media-up($tablet-width) {
      border-radius: 30px;
      padding: 10px 20px 12px;
    }

    svg {
      fill: var(--white);
    }

    span {
      display: none;

      @include media-up($tablet-width) {
        display: block;
      }
    }
  }
}
