.breadcrumbs {
  padding: var(--gap-sm);
  width: fit-content;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;

  .container {
    @extend %flex-align;

    // justify-content: center;
    width: 100%;
    overflow-x: auto;
    padding: 0;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      background-color: var(--scrollbar-color);
      width: 4px;
      height: 2px;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color);
      border-radius: 4px;
    }
  }

  a,
  span {
    font-size: 14px;
    white-space: nowrap;
  }

  span:not(a > span) {
    color: var(--primary);
  }

  a {
    position: relative;
    padding-right: 20px;
    margin-right: 20px;
    color: var(--black);

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      content: '';
      width: 2px;
      height: 100%;
      background-color: var(--primary);
    }
  }

  // display: none;

  // @include media-up($tablet-width) {
  //   display: block;
  // }
  display: block;

  & + .inner-main-section {
    padding-top: var(--gap-lg);
  }
}
