.breadcrumbs
  .container
    .breadcrumbs__item
      a(href="index.html")
        span Главная
    .breadcrumbs__item
      a(href="inner-main.html")
        span Услуги
    span Создание и разработка сайтов под ключ
