.main-checkbox {
  display: flex;

  input[type='checkbox'] {
    display: none;
  }

  label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 3px;
      left: 0;
      content: '';
      width: 16px;
      height: 16px;
      background-color: var(--white);
      border-radius: 2px;
      border: 1px solid transparent;
    }

    &:has(input[type='checkbox']:checked)::before {
      background-image: url('../assets/images/icon-check.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px;
    }

    &:has(.invalid-control) {
      color: var(--danger);

      &::before {
        border-color: var(--danger) !important;
      }
    }
  }
}
