mixin main-checkbox(data)
  .main-checkbox(class= data.class ? data.class : null)
    label!= data.label
      input(type="checkbox" id= data.id name= data.name data-required= data.required ? data.required : null)
