.inner-base-section {
  @extend %section-offset;

  .container {
    @extend %flex-column;
  }

  & > ul {
    @extend %list-reset;

    margin: 0 auto;
    margin-bottom: var(--gap-xxl);
  }

  &:nth-of-type(even) {
    background-color: var(--light);
  }
}
