.inner-main-section {
  @extend %section-offset;

  .container {
    @extend %flex-column;

    gap: var(--gap-xxl) 0;
  }

  &__content {
    padding-top: var(--gap-xl);
  }

  .main-text,
  .main-title {
    text-align: center;
    color: var(--black);
  }

  &:not(:has(.main-title + *)) .main-title {
    margin-bottom: 0;
  }

  .main-text {
    margin-bottom: var(--gap-xl);
  }

  .price-row {
    display: inline-block;
    width: 100%;
    font-size: var(--fs-lg);
    line-height: 1;
    text-align: center;
    margin-bottom: var(--gap-xl);
  }

  .main-btn {
    margin: 0 auto;
  }
}
