include ../../components/controls/main-btn/main-btn


section.inner-base-section
  .container
    h2.base-title Что Вы получаете?
    include ../../components/lists/service-stuff-list/service-stuff-list
    p.base-text.text-center SEO-оптимизация и качественный копирайтинг позволяют привлечь внимание целевой аудитории, увеличить посещаемость сайта и продажи, улучшить позиции сайта в результатах поиска и укрепить репутацию компании на рынке.
