.simple-card {
  @extend %flex-column;
  @extend %base-box-shadow;

  width: 100%;
  height: 100%;
  padding: var(--gap-lg);
  border-radius: 0 10px 10px 0;
  color: var(--black);
  background-color: var(--white);
  border-left: 8px solid var(--primary);

  .main-btn {
    @extend %main-btn;

    font-size: 16px;
    font-weight: 300;
    padding: 0;
    margin-top: auto;
    min-height: fit-content;
    background-color: transparent;
    color: var(--primary);
  }

  &__label {
    display: block;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: var(--gap-xs);
  }

  &__title {
    display: block;
    font-size: var(--fs-md);
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: var(--gap-md);
  }

  &__text {
    display: block;
    font-weight: 400;
    font-size: var(--fs-sm);
    margin-bottom: var(--gap-sm);
  }

  &__cost {
    font-size: var(--fs-sm);
    font-weight: 400;
    margin-top: auto;
    margin-bottom: var(--gap-sm);

    & + .main-btn {
      margin-top: 0;
    }
  }
}
