.social
  ul.social__list
    li
      a(href="#" aria-label="telegram" target="_blank" rel="noopener nofollow norefferer")
        img(src="../assets/images/icon-tg-primary.svg" alt="telegram" width="24" height="24")
    li
      a(href="#" aria-label="telegram" target="_blank" rel="noopener nofollow norefferer")
        img(src="../assets/images/icon-tg-primary.svg" alt="telegram" width="24" height="24")
    li
      a(href="#" aria-label="telegram" target="_blank" rel="noopener nofollow norefferer")
        img(src="../assets/images/icon-tg-primary.svg" alt="telegram" width="24" height="24")
