:root {
  --primary: #a2d729;
  --secondary: #fffce1;

  // --success: #28a745;
  // --warning: #ffc107;
  --danger: #dc3545;

  // --info: #17a2b8;
  // --light: #f8f9fa;
  --dark: #161414;

  // --muted: #6c757d;
  --white: #fff;
  --black: #000;
  --site-bg-color: var(--white);
  --site-text-color: var(--secondary);
}
