:root {
  --primary: #5d218f; // #8b00ff;
  --secondary: #c57fff;

  // --success: #28a745;
  --warning: #fff500;
  --danger: #dc3545;
  --info: #674185;
  --light: #f0f0f0;
  --accent: #e0009d;

  // --accent: #ff00b2;
  // --dark: #161414;
  // --muted: #6c757d;
  --white: #fff;
  --black: #000;
  --site-bg-color: var(--white);
  --site-text-color: var(--black);
}
