:root {
  --scrollbar-color              : var(--site-bg-color);
  --scrollbar-thumb-color        : var(--primary);
  --scrollbar-width              : 8px;
  --scrollbar-border-radius      : 0;
  --scrollbar-thumb-border-radius: 0;
}
