include ../../cards/stuff-card/stuff-card

ul.service-stuff__list
  li.service-stuff__list-item
    +service-stuff-card({
      title: 'SEO-специалист',
      text: 'С богатым опытом успешной оптимизации сайтов для повышения их рейтинга в поисковых системах и привлечения целевого трафика. Владеющий глубокими знаниями в области SEO, интернет-маркетинга и аналитики.'
    })
  li.service-stuff__list-item
    +service-stuff-card({
      title: 'Копирайтер',
      text: 'С обширным профессиональным опытом написания текстов различного характера и сложности, владеющий навыками исследования темы, сбора и анализа информации, создания уникального и качественного контента.'
    })
  li.service-stuff__list-item
    +service-stuff-card({
      title: 'SEO-специалист',
      text: 'С богатым опытом успешной оптимизации сайтов для повышения их рейтинга в поисковых системах и привлечения целевого трафика. Владеющий глубокими знаниями в области SEO, интернет-маркетинга и аналитики.'
    })
  li.service-stuff__list-item
    +service-stuff-card({
      title: 'Копирайтер',
      text: 'С богатым опытом успешной оптимизации сайтов для повышения их рейтинга в поисковых системах и привлечения целевого трафика. Владеющий глубокими знаниями в области SEO, интернет-маркетинга и аналитики.'
    })
  li.service-stuff__list-item
    +service-stuff-card({
      title: 'SEO-специалист',
      text: 'С богатым опытом успешной оптимизации сайтов для повышения их рейтинга в поисковых системах и привлечения целевого трафика. Владеющий глубокими знаниями в области SEO, интернет-маркетинга и аналитики.'
    })
  li.service-stuff__list-item
    +service-stuff-card({
      title: 'Копирайтер',
      text: 'С богатым опытом успешной оптимизации сайтов для повышения их рейтинга в поисковых системах и привлечения целевого трафика. Владеющий глубокими знаниями в области SEO, интернет-маркетинга и аналитики.'
    })
  li.service-stuff__list-item
    +service-stuff-card({
      title: 'SEO-специалист',
      text: 'С богатым опытом успешной оптимизации сайтов для повышения их рейтинга в поисковых системах и привлечения целевого трафика. Владеющий глубокими знаниями в области SEO, интернет-маркетинга и аналитики.'
    })
