extends layouts/inner-layout.pug
include ./components/cards/base-card/base-card

block variables
  - title = 'Web-Expert.ru'
  - description = 'Разработка сайтов под ключ. Продвижение. Контекст'
  - sectionTitle = 'Яндекс ждёт стажёров'
  - sectionSmall = '10 февраля 2023, 11:00'
  //- Дополнительные файлы стили для КОНКРЕТНОЙ страницы
  //- const styleFileNames = ['inner']

block sectionTopContent
  .inner-main-section__content
    img(src="./assets/images/mock-img.png" alt="Описание картинки" width="640" height="400")

    p Лето ещё нескоро, но мы уже готовы предложить вам способ провести его с толком — приходите к нам на летнюю стажировку. Стажировка даёт полезный опыт и новые знания, а ещё это возможность посмотреть, как устроен Яндекс, и приложить руку к сервисам, которые известны всем. Например, научить новому Алису, сделать точнее Карты, усовершенствовать Маркет — или внести вклад в развитие нейронных сетей, которые генерируют тексты и картинки. Интересных задач у нас много.
    h2 Какие требования ?

    p Базовые требования к стажёрам — уметь программировать и хорошо разбираться в алгоритмах и структурах данных. Остальное зависит от специальности: разработчику интерфейсов важно иметь представление о вёрстке, а аналитику пригодятся математическая статистика и теория вероятностей. Кроме фронтендеров и аналитиков, мы набираем мобильных разработчиков, бэкендеров, DevOps-инженеров, технических менеджеров, специалистов по машинному обучению и по информационной безопасности — в общем, есть из чего выбрать.
    p Хотя стажировка и называется летней, сроки у неё гибкие. Если вы успешно прошли собеседование и готовы присоединиться к нам уже весной — нет проблем. А если вы учитесь на дневном и хотите сначала расправиться с летней сессией, то отбор можно пройти весной, а начать стажировку — в конце июня или июле. График мы тоже подбираем индивидуально. Можно работать 20 или 30 часов в неделю, а можно выйти сразу на полный день — как удобнее.
    p В этом году вакансии для стажёров есть в офисах Яндекса в Питере, Екатеринбурге, Нижнем Новгороде, Новосибирске и Сочи, но больше всего их в Москве. Поэтому тем, кто хорошо проявил себя на собеседовании, но живёт далеко, мы предлагаем пройти стажировку в столице. Дорога и проживание — за наш счёт.

    h2 А как же оплата ?
    p Все стажёры в Яндексе получают зарплату. Её размер зависит от рабочего графика. Также компания оплачивает питание — поесть можно в столовой или в окрестных кафе — и выдаёт всю необходимую технику. Во многих офисах Яндекса есть спортивные залы и библиотеки, а ещё у нас каждую неделю проходят интересные мероприятия: конференции, лекции, митапы.
    p Путь на стажировку начинается на сайте <a href="#">Young&&Yandex</a>: выберите интересное вам направление и подайте заявку. Дальше, как правило, мы предлагаем тестовое задание, и если оно выполнено хорошо, зовём кандидата на собеседования. Для тех, кто прошёл отбор, устраиваются встречи с разными командами Яндекса — чтобы помочь стажёру подобрать самую подходящую. Подготовиться к тестовому заданию и собеседованиям поможет всё тот же сайт: там собраны задачи прошлых лет, ссылки на курсы и учебники и советы бывалых.

block modals
  //- Модальные окна используемые ТОЛЬКО на этой странице
  //-
