extends layouts/main-layout.pug

block variables
  -
    const title = "test_title"
    const description = "test_description"
    const keywords = "test_keywords"
    //- Дополнительные файлы стили для КОНКРЕТНОЙ страницы
    //- const styleFileNames = ['inner']

block content
  include ./sections/index-page/hero
  include ./sections/index-page/features

block modals
  //- Модальные окна используемые ТОЛЬКО на этой странице
  //-
