extends layouts/main-layout.pug

block variables
  -
    const title = "test_title"
    const description = "test_description"
    const keywords = "test_keywords"
    //- Дополнительные файлы стили для КОНКРЕТНОЙ страницы
    //- const styleFileNames = ['inner']

block content
  include ./sections/index-page/hero
  include ./sections/index-page/features
  include ./sections/index-page/about
  include ./sections/index-page/services
  include ./sections/index-page/support
  include ./sections/index-page/advantages
  include ./sections/index-page/reviews
  include ./sections/index-page/faq
  include ./sections/common/offer

block modals
  //- Модальные окна используемые ТОЛЬКО на этой странице
  //-
