extends layouts/main-layout.pug

block variables
  - title = 'Web-Expert.ru'
  - description = 'Разработка сайтов под ключ. Продвижение. Контекст'
  //- Дополнительные файлы стили для КОНКРЕТНОЙ страницы
  //- const styleFileNames = ['inner']

block content
  include ./views/services/index

block modals
  //- Модальные окна используемые ТОЛЬКО на этой странице
  //-
