.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 199;
  backdrop-filter: blur(3px);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90dvw;
  height: fit-content;
  max-width: 640px;
  max-height: 85dvh;
  padding: 30px;
  padding-left: 0;

  &-content {
    background-color: var(--white);
    padding: clamp(var(--gap-sm), 3vw, var(--gap-xl));
    border-radius: 4px;
    max-height: 440px;
    overflow: hidden;
    overflow-y: auto;

    @extend %base-box-shadow;
  }

  &-closer {
    position: absolute;
    top: 10px;
    right: 10px;

    @extend %btn-reset;
    @extend %flex-center;

    width: fit-content;
    height: fit-content;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--white);
    border: 1px solid var(--primary);

    svg {
      fill: var(--primary);
    }

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }

    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }

  &-title {
    display: inline-block;
    font-size: var(--fs-sm);
    font-weight: var(--fw-l);
    width: 100%;
    padding-right: 20px;
    color: var(--white);
    margin-bottom: var(--gap-lg);
    text-wrap: initial;
  }

  &-text {
    font-size: 14px;
  }
}
