extends ../layouts/modals/main-modal

block variables
  - modalId = "error-modal"
  - modalClasses = "error-modal"

block modalContent
  span.modal-title К сожалению, что-то пошло не так..
  span.modal-text Попробуйте снова..
