%base-section-list {
  @extend %list-reset;
  @extend %flex-column;

  gap: var(--gap-xl);
  margin-top: calc(-1 * var(--gap-m));
}

%section-accent-bg {
  background-color: var(--primary);
}

%section-offset {
  padding: clamp(var(--gap-xxl), 6vw, var(--gap-xxxl)) 0;
}

%shaker {
  animation: shaker 0.5s ease-in-out;
}
