block variables
  - modalId = ''
  - modalClasses = ''

.modal-overlay
  .modal.main-modal(id= modalId class= modalClasses)
    .modal-wrapper
      button(type="button" aria-label="Закрыть").modal-closer
        svg(width="20" height="20")
          use(xlink:href="./assets/svg-sprite.svg#icon-close")
      if modalHeader
        .modal-header
          block modalHeader
      .modal-content
        block modalContent
