.hero {
  position: relative;
  padding: clamp(40px, 5vw, 120px) 0 clamp(120px, 8vw, 160px);
  background-color: var(--primary);
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 40%);
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: 30px;
    right: -30px;
    content: '';
    background-image: url('../assets/images/hero-shape.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: calc(100% - 30px);
  }

  &__content {
    position: relative;
    z-index: 3;
  }

  .main-text {
    margin-bottom: 30px;
  }

  &__offer-btn {
    width: 100%;
    max-width: 320px;

    @include media-up(420px) {
      max-width: 250px;
    }

    svg {
      fill: var(--white);
    }
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100%;
    z-index: 0;
    object-fit: cover;
  }
}
