.services {
  @extend %section-offset;

  &__list {
    @extend %list-reset;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-lg);

    @include media-up(640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-up($desktop-width) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
