include ../../components/lists/advantages-list/advantages-list

section.about
  .container
    h2.base-title Комплексное продвижение сайтов

    +advantages-list(
      {
        previewText: 'Обращение в компанию “Веб-Эксперт” за комплексной поддержкой сайта имеет ряд преимуществ перед содержанием собственного IT-отдела:',
        items: [
          {
            title: 'Экономия средств',
            text: 'Содержание собственного IT-отдела требует значительных финансовых вложений. В то время как обращение к профессионалам “Веб-Эксперта” обойдется значительно дешевле, так как они предоставляют услуги по более низким ценам, чем это было бы в случае найма отдельных специалистов.'
          },
          {
            title: 'Качество работы',
            text: 'Специалисты “Веб-Эксперта” обладают высокой квалификацией и опытом работы в сфере IT. Они могут предложить более качественные и эффективные решения для вашего сайта, чем отдельные специалисты, нанятые через рекрутинговые агентства.'
          },
          {
            title: 'Оперативность решения проблем',
            text: 'В случае возникновения проблем на вашем сайте, специалисты “Веб-Эксперта” смогут оперативно их устранить, в то время как собственный IT-отдел может потребовать времени на решение проблемы.'
          },
          {
            title: 'Отсутствие необходимости в постоянном контроле',
            text: 'Вам не нужно будет контролировать работу собственного IT-отдела, так как специалисты “Веб-Эксперта” будут предоставлять вам регулярные отчеты о проделанной работе и достигнутых результатах.'
          },
        ]
      }
    )

