include ../../components/lists/advantages-list/advantages-list

section.advantages
  .container
    h2.base-title Почему выбирают нас

    +advantages-list(
      {
        items: [
          {
            iconName: 'advantages-icon-1',
            title: 'Индивидуальный подход',
            text: 'Мы предлагаем индивидуальный подход к каждому клиенту, учитывая все его потребности и пожелания. Мы стремимся создать максимально эффективный и удобный сайт для вашего бизнеса.'
          },
          {
            iconName: 'advantages-icon-2',
            title: 'Индивидуальный подход',
            text: 'Мы предоставляем полный комплекс услуг по поддержке и развитию сайта, начиная от аудита и оптимизации, заканчивая продвижением и технической поддержкой.'
          },
          {
            iconName: 'advantages-icon-3',
            title: 'Комплексный подход',
            text: 'Мы предоставляем полный комплекс услуг по поддержке и развитию сайта, начиная от аудита и оптимизации, заканчивая продвижением и технической поддержкой.'
          },
          {
            iconName: 'advantages-icon-4',
            title: 'Оперативность',
            text: 'Мы всегда стараемся оперативно реагировать на запросы клиентов и решать возникающие проблемы в кратчайшие сроки.'
          },
          {
            iconName: 'advantages-icon-5',
            title: 'Гибкость',
            text: 'Мы готовы предложить гибкие условия сотрудничества и адаптировать наши услуги под ваши потребности и бюджет.'
          },
          {
            iconName: 'advantages-icon-6',
            title: 'Надежность',
            text: 'Мы гарантируем надежность и стабильность работы вашего сайта, так как используем только проверенные и надежные технологии и инструменты.'
          },
          {
            iconName: 'advantages-icon-7',
            title: 'Прозрачность',
            text: 'Мы всегда открыты и честны с нашими клиентами, предоставляя полную информацию о ходе выполнения работ и результатах.'
          },
        ]
      }
    )


