section.features
  .container
    ul.features__list
      li.features__list-item
        img(loading="lazy" src="./assets/images/feature-icon-1.svg" alt="Устали от технических проблем на сайте?" width="60" height="60")
        .features__list-item-content
          span.features__list-item-title Устали от&nbsp;технических проблем на&nbsp;сайте?
          span.features__list-item-text Доверьте его нам и&nbsp;забудьте о&nbsp;заботах!

      li.features__list-item
        img(loading="lazy" src="./assets/images/feature-icon-2.svg" alt="Ваш сайт нуждается в оптимизации?" width="60" height="60")
        .features__list-item-content
          span.features__list-item-title Ваш сайт нуждается в&nbsp;оптимизации?
          span.features__list-item-text Мы поможем увеличить его видимость в&nbsp;поиске!

      li.features__list-item
        img(loading="lazy" src="./assets/images/feature-icon-3.svg" alt="Ваш бизнес зависит от работоспособности сайта?" width="60" height="60")
        .features__list-item-content
          span.features__list-item-title Ваш бизнес зависит от&nbsp;работоспособности сайта?
          span.features__list-item-text Обеспечьте его надежность с&nbsp;нашей поддержкой!

      li.features__list-item
        img(loading="lazy" src="./assets/images/feature-icon-4.svg" alt="Заметили снижение трафика на сайте?" width="60" height="60")
        .features__list-item-content
          span.features__list-item-title Заметили снижение трафика на сайте?
          span.features__list-item-text Исправьте это с&nbsp;нашей профессиональной поддержкой!
