include ../../components/cards/review-card/review-card
include ../../components/sliders/base-image-slider/base-image-slider

section.slider-section
  .container
    +base-image-slider({
      title: 'Лицензии <br>и&nbsp;сертификаты',
      fancyGallery: 'licenses',
      slides: [
        {
          img: 'mock-img.png',
          title: 'SEO-сертификат RUSH academy',
          text: 'Какой то текст описывающий сертификат или что то другое'
        },
        {
          img: 'license.png',
          title: 'SEO-сертификат RUSH academy',
          text: 'Какой то текст описывающий сертификат или что то другое'
        },
        {
          img: 'mock-img.png',
          title: 'SEO-сертификат RUSH academy',
          text: 'Какой то текст описывающий сертификат или что то другое'
        },
        {
          img: 'mock-img.png',
          title: 'SEO-сертификат RUSH academy',
          text: 'Какой то текст описывающий сертификат или что то другое'
        },
        {
          img: 'license.png',
          title: 'SEO-сертификат RUSH academy',
          text: 'Какой то текст описывающий сертификат или что то другое'
        },
      ]
    })


