include ../../components/cards/review-card/review-card

section.reviews
  .container
    .swiper-container
      .swiper-header
        h2.base-title Отзывы
        .swiper-controls
          .swiper-navigation
            .swiper-button-prev
            .swiper-button-next
      .swiper.main-slider
        .swiper-wrapper
          .swiper-slide
            +review-card({
              authorName: 'Константин',
              text: 'Сотрудничество с Веб-эксперт позволило нам улучшить позиции нашего сайта в поисковых системах, что привело к увеличению трафика и продаж. Рекомендую данную компанию всем, кто нуждается в качественной веб поддержке.',
              date: '28.12.2024',
              rate: 4
            })
          .swiper-slide
            +review-card({
              authorName: 'Константин',
              text: 'Сотрудничество с Веб-эксперт позволило нам улучшить позиции нашего сайта в поисковых системах, что привело к увеличению трафика и продаж. Рекомендую данную компанию всем, кто нуждается в качественной веб поддержке. Сотрудничество с Веб-эксперт позволило нам улучшить позиции нашего сайта в поисковых системах, что привело к увеличению трафика и продаж. Рекомендую данную компанию всем, кто нуждается в качественной веб поддержке. Сотрудничество с Веб-эксперт позволило нам улучшить позиции нашего сайта в поисковых системах, что привело к увеличению трафика и продаж. Рекомендую данную компанию всем, кто нуждается в качественной веб поддержке. Сотрудничество с Веб-эксперт позволило нам улучшить позиции нашего сайта в поисковых системах, что привело к увеличению трафика и продаж. Рекомендую данную компанию всем, кто нуждается в качественной веб поддержке.',
              date: '28.12.2024',
              rate: 3
            })
          .swiper-slide
            +review-card({
              authorName: 'Константин',
              text: 'Мало текста',
              date: '28.12.2024',
              rate: 5
            })
          .swiper-slide
            +review-card({
              authorName: 'Константин',
              text: 'Сотрудничество с Веб-эксперт позволило нам улучшить позиции нашего сайта в поисковых системах, что привело к увеличению трафика и продаж. Рекомендую данную компанию всем, кто нуждается в качественной веб поддержке.',
              date: '28.12.2024',
              rate: 1
            })
          .swiper-slide
            +review-card({
              authorName: 'Константин',
              text: 'Сотрудничество с Веб-эксперт позволило нам улучшить позиции нашего сайта в поисковых системах, что привело к увеличению трафика и продаж. Рекомендую данную компанию всем, кто нуждается в качественной веб поддержке.',
              date: '28.12.2024',
              rate: 3
            })

  include ../../modals/review-modal
