include ../../components/cards/service-preview-card/service-preview-card

section.services
  .container
    h2.base-title Наши услуги

    ul.services__list
      li.services__list-item
        +service-preview-card({
          type: 'Базовая',
          text: 'Включает в себя обновление содержимого сайта, поддержку пользователей и базовую оптимизацию для поисковых систем',
          stuff: [
            'Менеджер проекта',
            'SEO-оптимизатор',
            'Копирайтер'
          ],

          works: {
            items: [
              'Анализ и аудит сайта.',
              'Исследование и анализ ключевых слов.',
              'Создание и оптимизация контента.',
              'Улучшение структуры и навигации сайта.',
              'Оптимизация технических параметров сайта.',
              'Внешняя оптимизация.',
              'Мониторинг и анализ результатов.',
              'Ежемесячный отчет.',
            ],
          },
          cost: '35 000 руб.'
        })

      li.services__list-item
        +service-preview-card({
          type: 'Стандартная',
          text: 'Включает все опции базового тарифа, а также дополнительные услуги, такие как анализ конкурентов, улучшение дизайна и юзабилити сайта',
          stuff: [
            'Менеджер проекта',
            'Верстальщик',
            'Дизайнер',
            'SEO-оптимизатор',
            'Копирайтер'
          ],

          works: {
            note: 'Все услуги <strong>Базового тарифа</strong>, плюс:',
            items: [
              'Исследование и анализ требований клиента.',
              'Разработка концепции и стиля проекта.',
              'Проектирование и верстка макетов.',
              'Подготовка графических материалов.',
              'Адаптивная и кроссбраузерная верстка.',
              'Тестирование и отладка проекта.',
              'Поддержка и сопровождение проекта.езультатов.',
            ],
          },
          cost: '55 000 руб.'
        })

      li.services__list-item
        +service-preview-card({
          type: 'Улучшенная',
          text: 'Включает в себя все опции стандартного тарифа, а также индивидуальную разработку стратегии продвижения сайта и работу с контекстом в интернете',
          stuff: [
            'Менеджер проекта',
            'Программист',
            'Директолог',
            'Верстальщик',
            'Дизайнер',
            'SEO-оптимизатор',
            'Копирайтер'
          ],

          works: {
            note: 'Все услуги <strong>Стандартного тарифа</strong>, плюс:',
            items: [
              'Анализ бизнеса и конкурентов.',
              'Определение стратегии и тактики продвижения.',
              'Сбор и кластеризация ключевых слов.',
              'Настройка и запуск рекламных кампаний.',
              'Мониторинг и оптимизация кампаний.',
              'Анализ и улучшение рекламных материалов.',
              'Работа с обратной связью и отчетность.',
            ],
          },
          cost: '70 000 руб.'
        })

      li.services__list-item
        +service-preview-card({
          type: 'Профессиональная',
          text: 'Включает в себя полный комплекс услуг по веб-поддержке, включая разработку и продвижение новых проектов, а также мониторинг и оптимизацию уже существующих ресурсов',
          stuff: [
            'Менеджер проекта',
            'Программист',
            'Директолог',
            'Верстальщик',
            'Дизайнер',
            'SEO-оптимизатор',
            'Копирайтер'
          ],

          works: {
            note: 'Все услуги <strong>Улучшенного тарифа</strong>, плюс:',
            items: [
              'Изучение требований и пожеланий заказчика.',
              'Разработка технического задания и проектирование системы.',
              'Написание кода и создание модулей программы.',
              'Тестирование и исправление ошибок.',
              'Внедрение и настройка системы на сервере.',
              'Обучение пользователей и поддержка системы.',
              'Развитие и модернизация системы в соответствии с новыми требованиями.езультатов.',
            ],
          },
          cost: '90 000 руб.'
        })
