include ../../components/controls/main-btn/main-btn

section.support
  .container
    small Поддержка
    h2.base-title Под индивидуальный запрос

    .content-block
      p Поддержка сайта под индивидуальный запрос - это услуга, которая подходит для владельцев сайтов, нуждающихся в специализированной помощи и индивидуальном подходе к решению задач. Она включает в себя широкий спектр услуг, таких как аудит сайта, оптимизация контента, улучшение SEO, техническая поддержка, улучшение дизайна, поддержка пользователей и многое другое. Благодаря индивидуальному подходу, наши специалисты смогут максимально точно определить потребности вашего сайта и предложить наиболее эффективные решения для его развития и продвижения.

    +main-btn({
      type: 'button',
      text: 'Заказать услугу',
      iconName: 'envelope',
      iconWidth: 20,
      iconHeight: 20,
      iconPosition: 'left',
      modal: 'offer-modal'
    })
