.review-card {
  width: 100%;
  max-width: 440px;
  height: 100%;
  padding: var(--gap-lg);
  border-radius: 10px;
  color: var(--black);
  background-color: var(--white);

  &__header {
    @extend %flex-align;

    margin-bottom: var(--gap-md);
  }

  &__author {
    font-weight: var(--fw-b);
  }

  &__date {
    margin-left: auto;
  }

  &__content {
    font-size: 14px;

    button {
      @extend %main-btn;

      font-size: 14px;
      font-weight: 300;
      padding: 0;
      margin-top: var(--gap-md);
      min-height: fit-content;
      background-color: transparent;
      color: var(--primary);
    }
  }
}
