.main-nav
  ul.main-nav__list
    li.main-nav__list-item
      a(href="#") О компании
    li.main-nav__list-item.main-nav__list-item--nested
      a(href="#") Услуги
      ul
        li
          a(href="#") Seo продвижение сайтов
        li
          a(href="#") Создание и разработка сайтов
        li
          a(href="#") Контекст
        li
          a(href="#") Техническая поддержка
    li.main-nav__list-item
      a(href="#") Акции
    li.main-nav__list-item
      a(href="#") Блог
    li.main-nav__list-item
      a(href="#") Контакты

