@keyframes shaker {
  20% {
    transform: translateX(8px);
  }

  40% {
    transform: translateX(-8px);
  }

  60% {
    transform: translateX(8px);
  }

  80% {
    transform: translateX(-8px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-right {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}
