h1,
h2,
h3,
h4,
h5,
h6,
.base-title,
.main-title {
  margin-top: 0;
  margin-bottom: 1.2em;
  font-weight: var(--fw-sb);
}

p {
  margin-top: 0;
  margin-bottom: 0.75em;
  font-weight: var(--fw-r);
}

h1 {
  font-size: var(--fs-lg);
}

h2 {
  font-size: calc(var(--fs-md) * 1.8);
}

h3 {
  font-size: calc(var(--fs-md) * 1.4);
}

h4 {
  font-size: calc(var(--fs-md) * 1.2);
}

h5 {
  font-size: var(--fs-sm);
}

h6 {
  font-size: var(--fs-xs);
}

small {
  font-size: var(--fs-xs);
}

a {
  color: var(--primary);
}

.main-title {
  display: inline-block;
  width: 100%;
  font-size: clamp(30px, 6.5vw, 60px);
  font-weight: var(--fw-r);
  margin-bottom: clamp(24px, 3vw, 40px);
  color: var(--white);
}

.main-text {
  display: inline-block;
  width: 100%;
  font-size: clamp(14px, 2.6vw, 18px);
  font-weight: var(--fw-l);
  color: var(--white);
}

.base-title {
  display: inline-block;
  width: 100%;
  font-size: clamp(28px, 7vw, 60px);
  font-weight: var(--fw-r);
  color: var(--black);
  text-align: center;
}

.base-text {
  display: inline-block;
  width: 100%;
  font-size: clamp(14px, 2.6vw, 18px);
  color: var(--black);
}

.text-italic {
  font-style: italic;
}

.text-underlined {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.ff {
  &-secondary {
    font-family: var(--secondary-font);
  }

  &-accent {
    font-family: var(--accent-font);
  }
}

.fs {
  &-xl {
    font-size: var(--fs-xl);
  }

  &-lg {
    font-size: var(--fs-lg);
  }

  &-md {
    font-size: var(--fs-md);
  }

  &-sm {
    font-size: var(--fs-sm);
  }

  &-xs {
    font-size: var(--fs-xs);
  }
}

.fw {
  &-h {
    font-weight: var(--fw-h);
  }

  &-xb {
    font-weight: var(--fw-xb);
  }

  &-b {
    font-weight: var(--fw-b);
  }

  &-sb {
    font-weight: var(--fw-sb);
  }

  &-m {
    font-weight: var(--fw-m);
  }

  &-r {
    font-weight: var(--fw-r);
  }

  &-l {
    font-weight: var(--fw-l);
  }

  &-xl {
    font-weight: var(--fw-xl);
  }

  &-t {
    font-weight: var(--fw-t);
  }
}
